@import url(./utils/_variables.scss);
//-----------------WHATSAPP-----------------
.whatsapp-web {
    position: sticky;
    bottom: 30px;
    display: flex;
    justify-content: end;

    &__imagen{
        border-radius: 15px;
        width: 50px;
        margin-right: 10px;
    }
}
.whatsapp-web:hover{
    text-shadow: 1px 4px 5px rgba(0,131,28,0.7);
}
//------------------------------------------------------------------
//---------------------MAIN INDEX---------------------
//-----------------HEADER-----------------
.header{
    background-color: #F2F5EA;
    padding: 30px 20px;

    &__container-categorias{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--sobre-nosotros{
            text-decoration: none;
            font-family: Tex;
            color: black;
        }

        &--productos{
            text-decoration: none;
            font-family: Tex;
            color: black;
        }
    }
}
//---------------------INDEX---------------------
//-----------------JORDAN 1-----------------
.air1{
    padding: 5px;
    background-color: white;

    &__foto{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100vh;
        height: 400px;
        min-width: none;
    }

    &__titulo{
        font-family: Roboto;
    }

    &__resumen{
        font-family: Tex;
        font-size: small;
        padding-bottom: 10px;
    }
}

//----------------CAROUSEL----------------
.productos__carousel{
    max-height: 600px;
    overflow: hidden;
}
//----------------------------------------

//-----------------AIR MAX-----------------
.nike-air{
    background-color: #31313149;
    padding: 10px;

    &__subtitulo{
        font-family: Tex;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font: bold;
    }

    &__foto{
        border-radius: 150px;
    }
    &--comprar{
        text-decoration: underline;
        color: black;
        font-size: 17px;
        font-family: Tex;
    }
}

//-----------------CAMISETAS RIVER-----------------
.camisetas{
    padding: 10px;
    background-color: #d1563d81;

    &__contenido{
        display: flex;
        justify-content: end;

        &--foto{
            border-radius: 150px;
        }
    }
    &__subtitulo{
        font-family: Tex;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font: bold;
    }

    &--comprar{
        text-decoration: underline;
        color: black;
        font-size: 17px;
        font-family: Tex;
    }
}

//-----------------CAMISETAS ARGENTINA-----------------
 .argentina{
    padding: 10px;
    background-color: #7cc6fe71;

    &__subtitulo{
        font-family: Tex;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font: bold;

        &--foto{
            border-radius: 150px;
        }
    }

    &--comprar{
        text-decoration: underline;
        color: black;
        font-size: 17px;
        font-family: Tex;
    }
 }

 //------------------------------------------------------------------

//---------------------MAIN PRODUCTOS---------------------
//-----------------HEADER-----------------
.header-productos{
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F5EA;

    &__titulo{
        font-family: Tex;
        font-size: 25px;
    }
}
//-----------------PRODUCTOS-----------------
//-----------------JORDAN 1 (PRODUCTOS)-----------------------
.productos-jordan1{
    padding: 7px;

    &__imagen-web{
        border-radius: 10px;
    }
}

//-----------------SAMISETA RIVER (PRODUCTOS)-----------------
.productos-camiseta{
    padding: 7px;

    &__imagen-web{
        border-radius: 10px;
    }
}
//------------------------------------------------------------------
//---------------------MAIN SOBRE NOSOTROS---------------------
//-----------------HEADER-----------------
.header-sobre-nosotros{
    background-color: #F2F5EA;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    font-family: Tex;
}
//----------------------SOBRE NOSOTROS----------------------
//-----------------INFO DE LA EMPRESA-----------------
.info-empresa{
    font-family: Tex;
    padding: 10px;
}

//---------MAPA---------
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    &__titulo{
        font-size: 25px;
        padding-bottom: 15px;  
    }
}

//---------CONTACTO (FORM)---------
.contacto{
    background-color: #F2F5EA;
    font-family: Tex;
}


//------------------------------------------------------------------
//---------------------MEDIAS QUERRY---------------------
@media (min-width: 576px) {
    .productos-jordan1__imagen-mobile{
        display: none;
    }
    .producto-camiseta__imagen-mobile{
        display: none;
    }
    .air1{
        display: none;
    }
}

@media (max-width:575px) {
    .nike-air__subtitulo{
        display: none;
    }
    .camisetas__subtitulo{
        display: none;
    }
    .argentina__subtitulo{
        display: none;
    }
    .comprar-web{
        display: none;
    }
    .whatsapp{
        display: none;
    }
    .productos-jordan1--resumen-web{
        display: none;
    }
    .producto-camiseta__resuen-web{
        display: none;
    }
    .productos-jordan1__imagen-web{
        display: none;
    }
    .producto-camiseta__imagen-web{
        display: none;
    }
    .carousel{
        display: none;
    }
}