/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* FUENTE */
@font-face {
    font-family: Roboto;
    src: url(./Assets/Fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Tex;
    src: url(./Assets/Fonts/Tex/texgyreadventor-bold.otf);
}

/* HEADER */

.header {
    background-color: #F2F5EA;
    padding: 30px 20px;
}

.header__container-categorias {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productos{
    text-decoration: none;
    font-family: Tex;
    color: black;
}
.sobre-nosotros{
    text-decoration: none;
    font-family: Tex;
    color: black;
}
.header-productos{
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F5EA;
}
.header-productos nav h1{
    font-family: Tex;
    font-size: 25px;
}

.header-sobre-nosotros{
    background-color: #F2F5EA;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    font-family: Tex;
}

/* MAIN INDEX */
.air1 {
    padding: 5px;
    background-color: white;
}
.air1 img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    height: 400px;
    min-width: none;
}
.air1__titulo {
    font-family: Roboto;
}

.air1__resumen {
    font-family: Tex;
    font-size: small;
    padding-bottom: 10px;
}

.nike-air{
    background-color: rgba(49, 49, 49, 0.288);
    padding: 10px;
}

.nike-air__subtitulor{
    font-family: Tex;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font: bold;
}

.nike-air img{
    border-radius: 150px;
}

.camisetas{
    padding: 10px;
    background-color: #d1563d81;
}
.camisetas__contenido{
    display: flex;
    justify-content: end;
}
.camisetas__contenido img{
    border-radius: 150px;
}

.camisetas__subtitulo{
    font-family: Tex;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font: bold;
}

.argentina{
    padding: 10px;
    background-color: #7cc6fe71;
}

.argentina__subtitulo{
    font-family: Tex;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font: bold;
}

.argentina img{
    border-radius: 150px;
}

.comprar-web{
    text-decoration: none;
    font-family: Tex;
}

.carousel{
    height: 600px;
    overflow: hidden;
}
.carousel-inner img{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PRODUCTOS */
.imagen-jordan-web{
    border-radius: 10px;
}

.imagen-camiseta-web{
    border-radius: 10px;
}

.productos-jordan1{
    padding: 7px;
}
.producto-camiseta{
    padding: 7px;
}

/* SOBRE NOSOTROS */
.info-empresa{
    font-family: Tex;
    padding: 10px;

}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.mapa-titulo{
    font-size: 25px;
    padding-bottom: 15px;
}

.contacto{
    background-color: #F2F5EA;
    font-family: Tex;
}

/* WHATSAPP */

.whatsapp-web {
    position: sticky;
    bottom: 30px;
    display: flex;
    justify-content: end;
}
.whatsapp-web img{
    border-radius: 15px;
    width: 50px;
    margin-right: 10px;
}
.whatsapp-web:hover{
    text-shadow: 1px 4px 5px rgba(0,131,28,0.7);
}

/* MEDIA QUERRY */
@media(max-width: 575px) {
    .nike-air__subtitulo{
        display: none;
    }
    .camisetas__subtitulo{
        display: none;
    }
    .argentina__subtitulo{
        display: none;
    }
    .comprar-web{
        display: none;
    }
    .whatsapp{
        display: none;
    }
    .productos-jordan1--resumen-web{
        display: none;
    }
    .producto-camiseta__resuen-web{
        display: none;
    }
    .productos-jordan1__imagen-web{
        display: none;
    }
    .producto-camiseta__imagen-web{
        display: none;
    }
    .carousel{
        display: none;
    }
}
@media(min-width: 576px) {
    .productos-jordan1__imagen-mobile{
        display: none;
    }
    .producto-camiseta__imagen-mobile{
        display: none;
    }
    .air1{
        display: none;
    }
}