/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* FUENTE */
@font-face {
    font-family: Roboto;
    src: url(./Assets/Fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
    font-family: Tex;
    src: url(./Assets/Fonts/Tex/texgyreadventor-bold.otf);
}

/* SOBRE NOSOTROS */
.info-empresa{
    font-family: Tex;
    padding: 10px;

}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.mapa-titulo{
    font-size: 25px;
    padding-bottom: 15px;
}

.contacto{
    background-color: #F2F5EA;
    font-family: Tex;
}

/* WHATSAPP */



