.header{
    background-color: #F2F5EA;
    padding: 30px 20px;

    &__container-categorias{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}